html,
body {
  height: 100%;
}
/* common blocks */
.page {
  display: flex;
  flex-direction: column;
}
.main {
  min-height: 100%;
}
.title {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: bold;
  color: #333333;
  text-align: center;
}
.title_color_red {
  color: #ff0033;
}
.title_color_white {
  color: #fff;
}
.subtitle {
  font-family: "Lato";
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  text-align: center;
  margin-top: 50px;
}
.subtitle_color_red {
  color: #ff0033;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 95px 10px;
  box-sizing: border-box;
  position: relative;
}
.devider {
  position: relative;
  display: flex;
  justify-content: center;
}
.devider__line {
  width: 100%;
  max-width: 515px;
  height: 1px;
  background-color: #000;
}
.devider__hexagon {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: #000;
  left: 50%;
  transform: translate(-50%, -50%);
}
.devider__hexagon::before,
.devider__hexagon::after {
  display: block;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right: 6px solid black;
  left: -16px;
}
.devider__hexagon::after {
  border-right: 6px solid transparent;
  border-left: 6px solid black;
  left: 10px;
}
.devider_red .devider__hexagon,
.devider_red .devider__line {
  background-color: #ff0033;
}
.devider_red .devider__hexagon::before {
  border-right-color: #ff0033;
}
.devider_red .devider__hexagon::after {
  border-left-color: #ff0033;
}
.bg-dark {
  background-color: #333333;
}
.btn {
  display: block;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  width: 170px;
  color: #fff;
  border: none;
  background-color: #000;
  padding: 15px 0;
  margin: 10px 15px;
  text-decoration: none;
  text-align: center;
}
.btn_bg-gray {
  background-color: #4c4c4c;
}
.btn_bg-red {
  background-color: #ff0033;
}
.btn:hover {
  background-color: #404040;
}
.btn:active {
  background-color: #ff9919;
}
/* media query common blocks */
@media (max-width: 1000px) {
  .container {
    padding: 50px 15px;
  }
}
/* END common blocks */

/* header */

.header {
  width: 100%;
  background-color: #000;
  border-top: 3px solid #333333;
  position: fixed;
  top: 0;
  z-index: 5;
}

.header-container {
  width: 100%;
  max-width: 1170px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.logo {
  position: absolute;
  left: 0;
  top: -3px;
}

.logo__link {
  position: relative;
  display: block;
  width: 250px;
}

.logo__img {
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation__burger {
  margin: 10px 25px;
}

.burger-icon {
  display: none;
  position: relative;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-image: url(../img/header/burger-sprite.png);
}

.burger-checkbox {
  display: none;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  background: #000;
}

.navigation__link {
  display: block;
  position: relative;
  font-family: "Raleway";
  font-size: 18px;
  color: #999999;
  padding: 25px 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation__link::before,
.navigation__link::after {
  display: block;
  position: absolute;
  content: "";
  background-color: #ff0033;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.4s;
}

.navigation__link::before {
  top: -3px;
  height: 3px;
}

.navigation__link::after {
  bottom: 0;
  height: 2px;
}

.navigation__link:hover {
  color: #ffffff;
}

.navigation__link:active {
  color: #f790cd;
}

.navigation__link:hover::before,
.navigation__link:hover::after {
  transition: width 0.4s;
  width: 27px;
}

.navigation__link:active::before,
.navigation__link:active::after {
  background-color: #d80483;
}

/* media query header */

@media (max-width: 1078px) {
  .navigation__link {
    padding: 25px 6px;
  }
}

@media (max-width: 935px) {
  .navigation__list {
    width: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: -3px;
    transform: translateX(-100%);
    transition: 0.3s;
  }
  .navigation__link {
    padding: 15px 6px;
  }
  .navigation__link::before {
    top: 0;
    height: 2px;
  }
  .burger-icon {
    display: block;
  }
  .burger-checkbox:checked ~ .navigation__list {
    width: 100%;
    transition: 0.3s;
    transform: translateX(0);
  }
  .burger-checkbox:checked ~ .burger-icon {
    background-image: url(../img/header/burger-sprite.png);
    background-position: 50px;
  }
}

@media (max-width: 700px) {
  .logo__link {
    width: 185px;
  }
}

/* END header */

/* about-us */
.about-us__info-inner {
  margin: 100px 0;
}
.about-info {
  display: flex;
  flex-wrap: wrap;
}
.about-info__discription,
.about-photos {
  width: 50%;
}
.about-info__text {
  font-family: "Lato";
  font-size: 16px;
  color: #666666;
}
.about-us__tabs {
  margin-top: 40px;
}
.tab-item {
  border: 1px solid #d4d4d4;
  overflow: hidden;
}
.tab__inner {
  margin-top: 10px;
}
.tab__header {
  background-color: #f1f1f1;
  border-bottom: none;
  cursor: pointer;
  display: flex;
}
.tab__header:hover {
  background-color: #d8d8d8;
}
.tab__header.active-tab {
  border-bottom: 1px solid #d4d4d4;
}
.tab__header.active-tab ~ .tab__content {
  transform: scaleY(1);
  height: auto;
  padding: 10px;
  transition: transform 0.3s;
}
.tab__icon {
  width: 18px;
  border-right: 1px solid #d4d4d4;
  padding: 10px 15px;
  background: url(../img/about_us/tab-open.svg) no-repeat center;
}
.tab__header.active-tab .tab__icon {
  background-image: url(../img/about_us/tab-close.svg);
}
.tab__title {
  font-family: "Raleway";
  font-size: 20px;
  color: #ff0033;
  padding: 10px 25px;
}
.tab__content {
  font-family: "Lato";
  font-size: 14px;
  color: #666666;
  line-height: 22px;
  height: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.3s;
}
.about-photos {
  display: flex;
  justify-content: center;
}
.about-photos__img-wrap {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}
.about-photos__img-wrap::before,
.about-photos__img-wrap::after {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background: url(../img/about_us/about_us-3.png) no-repeat left;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.about-photos__img-wrap::after {
  right: 0;
  background: url(../img/about_us/about_us-2.png) no-repeat right;
}
.about-photos__img {
  display: block;
  max-width: 100%;
}
.about-us__advantages {
  margin-top: 70px;
}
.advantages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.advantages-item {
  width: 100%;
  max-width: 270px;
  text-align: center;
  margin: 30px 7px 0;
}
.advantages-item__title {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 30px 0 20px;
}
.advantages-item__text {
  font-family: "lato";
  font-size: 16px;
  color: #666666;
}

/* media query about-us */

@media (max-width: 1000px) {
  .about-us__info-inner {
    margin: 50px 0;
  }
  .about-info__discription,
  .about-photos {
    width: 100%;
  }
  .about-photos {
    margin-top: 20px;
  }
}
@media (max-width: 530px) {
  .about-photos__img-wrap::before,
  .about-photos__img-wrap::after {
    display: none;
  }
  .about-us__advantages {
    margin-top: 50px;
  }
}

/* main-slider */

.slider {
  position: relative;
}
.slider .slider__slide {
  background: url(../img/main-slider/woman.jpg) center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide__content {
  max-width: 1030px;
}
.slide__text {
  font-family: "Lato";
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 40px auto;
  width: 75%;
}
.slide__btn-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.slider__left-arrow,
.slider__right-arrow {
  height: 28px;
  width: 17px;
  background-image: url(../img/main-slider/sprite-arrow.png);
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.slider__left-arrow {
  left: 30px;
}
.slider__left-arrow:hover {
  background-position: 66px 0;
}
.slider__right-arrow:hover {
  background-position: 44px 0;
}
.slider__right-arrow {
  right: 30px;
  background-position: 22px 0;
}

/* media query main-slider */

@media (max-width: 530px) {
  .slider__left-arrow {
    left: 20px;
  }
  .slider__right-arrow {
    right: 20px;
  }
  .slide__text {
    max-width: 65%;
  }
}

/* END main-slider */

/* portfolio */

.portfolio {
  padding: 90px 0;
}
.control-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.slider-portfolio__control {
  margin: 20px 0 80px;
}
.control__btn {
  display: block;
  border: none;
  background: none;
  font-family: "Lato";
  font-size: 16px;
  font-weight: bold;
  color: #999999;
  text-transform: uppercase;
  margin-top: 5px;
}
.control__btn:hover {
  color: #c1c1c1;
}
.control__btn:focus {
  outline: none;
}
.slider-container {
  max-width: 1400px;
  margin: auto;
}
.slider-container .slide {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.slide__item {
  flex: auto;
  position: relative;
}
.slide__img {
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  opacity: 0.9;
  transition: bottom 0.2s;
}
.slide__overlay-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.slide__overlay-icon:hover {
  color: #ff0033;
}
.slide__item:hover .slide__overlay {
  bottom: 0;
  transition: bottom 0.2s;
}
.slide__overlay-text {
  font-family: "Lato";
  font-size: 16px;
  color: #fff;
}
.overlay-text__inner {
  margin-top: 25px;
}
.slick-active .control__btn {
  color: #ff0033;
}

/* END /* portfolio */

/* features */
.production {
  display: flex;
  justify-content: space-between;
}
.features__production {
  margin-top: 90px;
}
.production-col {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 33%;
  align-content: flex-start;
}
.production-item {
  display: flex;
  padding: 15px 7px;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #d4d4d4;
  color: #333333;
  max-width: 370px;
  width: 100%;
  box-sizing: border-box;
}
.production-item:hover {
  background-color: #ff0033;
  color: #fff;
}
.production-item__text {
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 500;
  text-transform: uppercase;
}
.production-item__icon {
  width: 37px;
  height: 32px;
  background-image: url(../img/production/sprite.png);
}
.production-item:hover .production-item__icon {
  background-position: right;
}
.production-item__inner {
  margin-top: 25px;
}
.production-text__inner {
  padding-right: 15px;
}
.production-item_flex-flow-row-reverse {
  flex-flow: row-reverse;
}
.production-item_flex-flow-row-reverse .production-text__inner {
  padding-right: 0;
  padding-left: 15px;
}
.production-picture {
  position: relative;
  height: 100%;
}
.production-picture__tablet {
  width: 100%;
}
.production-picture__hexagon,
.production-picture__shape {
  position: absolute;
  width: 124%;
  bottom: 0;
  transform: translate(-10%, 28%);
}
.production-picture__shape {
  z-index: -1;
  transform: translate(-10%, 14%);
}
.production__btn {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* media query features */

@media (max-width: 1150px) {
  .production {
    flex-direction: column;
  }
  .features__production {
    margin-top: 40px;
  }
  .production-col {
    flex-direction: column;
    margin: auto;
    width: 70%;
  }
  .production-item_flex-flow-row-reverse {
    flex-flow: row;
  }
  .production-item_flex-flow-row-reverse .production-text__inner {
    padding-right: 15px;
    padding-left: 0;
  }
  .production-item {
    justify-content: flex-start;
    max-width: none;
  }
  .production-picture {
    width: 70%;
    margin: 70px auto 120px;
  }
}
@media (max-width: 520px) {
  .production {
    flex-direction: column;
  }
  .production-col {
    width: 100%;
  }
  .production-item__text {
    font-size: 16px;
  }
  .production-picture {
    margin: 40px auto 50px;
  }
  .production__btn {
    width: 130px;
  }
}

/* END features */

/* clients block */
.clients {
  background: url(../img/clients/bg.jpg);
  position: relative;
  background-size: cover;
}
.clients::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.9;
}
.clients-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.clients-slider,
.clients-media {
  width: 49%;
}
.clients-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.clients-slider__title {
  font-family: "Raleway";
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.slider-title__inner {
  margin: 40px 0;
}
.clients-slide {
  outline: none;
}
.clients-slide__text {
  font-family: "Lato";
  font-size: 16px;
  color: #999999;
  text-align: center;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clients-slide__person {
  margin-top: 40px;
}
.person__name {
  font-family: "Raleway";
  font-size: 16px;
  color: #ff0033;
  font-weight: bold;
  text-transform: uppercase;
}
.person-name__inner {
  margin: 15px 0 25px;
}
.clients-slider__control {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}
.clients-slider__btn {
  display: block;
  width: 8px;
  height: 8px;
  border: none;
  padding: 0;
  background-color: #cccccc;
  margin: 0 3px;
  cursor: pointer;
}
.clients-slider__btn:hover {
  background-color: #ec9292;
}
.clients-slider__btn:focus {
  outline: none;
}
.slick-active .clients-slider__btn {
  background-color: #ff0033;
}
.clients-media {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.clients-img {
  max-width: 270px;
  height: 115px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: inset 0px 0px 68px 0px rgba(0, 0, 0, 0.75);
}
.clients-img__inner {
  margin-top: 40px;
}
.clients-img__icon {
  width: 40px;
  height: 43px;
  background-image: url(../img/clients/sprite-icon.png);
}
.clients-img__text {
  font-family: "Raleway";
  font-size: 24px;
  color: #333333;
  padding-bottom: 6px;
}
.videohive {
  background-position: 40px;
}
.photodune {
  background-position: 113px;
}
.codecanyon {
  background-position: 77px;
}
/* media query clients block */
@media (max-width: 1150px) {
  .clients-content {
    flex-direction: column;
    align-items: center;
  }
  .clients-slider,
  .clients-media {
    width: 70%;
  }
  .clients-media {
    justify-content: center;
  }
  .clients-img__inner {
    margin: 40px 10px 0;
  }
}
@media (max-width: 858px) {
  .clients-slider__btn {
    width: 15px;
    height: 15px;
    margin: 0 10px;
  }
}
@media (max-width: 480px) {
  .clients-slider,
  .clients-media {
    width: 100%;
  }
  .slider-title__inner {
    margin: 30px 0 15px;
  }
}
/* END clients block */

/* team block */
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.teamwork__team {
  margin-top: 50px;
}
.team-item {
  width: 270px;
}
.team-item__inner {
  margin: 50px 8px 0;
}
.team-item__avatar {
  height: 235px;
  overflow: hidden;
  position: relative;
}
.team-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  overflow: hidden;
}
.social {
  display: flex;
}
.social__link {
  display: block;
  width: 45px;
  height: 41px;
  background: url(../img/team/hexagon.png);
  text-decoration: none;
  color: #ff0033;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  margin: 0 5px;
}
.social__link::before {
  line-height: 41px;
}
.social__link:hover {
  color: #ff6b88;
}
.social__link:active {
  color: #bd062a;
}
.team-item__img {
  display: block;
  width: 100%;
}
.team-item__info {
  border: 1px solid #d8d8d8;
  padding: 30px 0;
}
.team-item__name {
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.team-item__job {
  font-family: "Lato";
  font-size: 16px;
  color: #666666;
  text-align: center;
}
.team-job__inner {
  margin-top: 20px;
}
.team-item:hover .team-item__overlay {
  bottom: 0;
  transition: 0.3s;
}
.team-item:hover .team-item__name {
  color: #ff0033;
}
.team-item:hover .team-item__info {
  border-color: #333333;
}
/* END team block */

/* skill block */
.skill-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.our-skills__skill-block {
  margin-top: 100px;
}
.skill-item {
  width: 165px;
}
.skill-item__inner {
  margin: 50px 15px 0;
}
.progress {
  position: relative;
  width: 145px;
  height: 145px;
  background-color: #cccccc;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.circle-in {
  width: 137px;
  height: 137px;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(4px, 4px);
}
.progress-bar {
  width: 100%;
  height: 100%;
  background-color: #ff0033;
  position: absolute;
  left: -10%;
}
.progress-bar_left-20 {
  left: -20%;
}
.progress-bar_left-30 {
  left: -30%;
}
.progress__status {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress__percent {
  font-family: "Lato";
  font-size: 40px;
  color: #ff0033;
  font-weight: 100;
}
.progress__percent_color-black {
  color: #000;
}
.skill-item__description {
  text-align: center;
}
.skill-item__title {
  font-family: "Raleway";
  font-size: 20px;
  color: #333333;
  font-weight: 500;
  text-transform: uppercase;
}
.skill-title__inner {
  margin: 20px 0;
}
.skill-item__text {
  font-family: "Lato";
  font-size: 16px;
  color: #666666;
}
/* media query skill block */
@media (max-width: 810px) {
  .skill-block {
    margin-top: 20px;
  }
}

/* services block */
.services-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services-block__inner {
  margin-top: 50px;
}
.services-item {
  flex-basis: 563px;
}
.services-item__inner {
  margin: 50px 0 0;
}
.services-item__header {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}
.services-item__icon {
  width: 66px;
  height: 57px;
  background: url(../img/services/sprite.png) 0 57px;
  flex-shrink: 0;
}
.services-item__html {
  background-position: 313px 57px;
}
.services-item__wp {
  background-position: 396px 57px;
}
.services-item__app {
  background-position: 231px 57px;
}
.services-item__ui {
  background-position: 148px 57px;
}
.services-item__responsive {
  background-position: 67px 57px;
}
.services-item__title {
  font-family: "Raleway";
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.sercvices-title__inner {
  margin-left: 30px;
}
.services-item__description {
  background-color: #272727;
  padding: 25px;
  font-family: "Lato";
  font-size: 16px;
  color: #999999;
}
.services-item:hover .services-item__description {
  background-color: #330000;
}
.services-item:hover .services-item__icon {
  background-position: 0px 0px;
}
.services-item:hover .services-item__html {
  background-position: 313px 0px;
}
.services-item:hover .services-item__wp {
  background-position: 396px 0px;
}
.services-item:hover .services-item__app {
  background-position: 231px 0px;
}
.services-item:hover .services-item__ui {
  background-position: 149px 0px;
}
.services-item:hover .services-item__responsive {
  background-position: 67px 0px;
}

/* mediq query services block */

@media (max-width: 1150px) {
  .services-block {
    flex-direction: column;
    align-items: center;
  }
  .services-item {
    flex-basis: auto;
    width: 90%;
  }
}

@media (max-width: 800px) {
  .services-block__inner {
    margin-top: 15px;
  }
}

/* END services block */

/* plans block */

.plans-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.plans-block__inner {
  margin-top: 50px;
}
.plan-item {
  text-align: center;
  flex-basis: 270px;
  cursor: pointer;
}
.plan-item__inner {
  margin: 50px 8px 0;
}
.plan-item__title {
  font-family: "Raleway";
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #333333;
  padding: 15px;
}
.plan-item__price {
  font-family: "Lato";
  font-size: 50px;
  color: #333333;
  font-weight: 900;
  padding: 15px 0;
  background-color: #d4d4d4;
}
.plan-item__price_font-size-16 {
  font-size: 16px;
  font-weight: 400;
}
.plan-item__info {
  font-family: "Lato";
  font-size: 16px;
  color: #333333;
  padding: 15px 5px;
  border: 1px solid #d4d4d4;
  border-top: none;
}
.plan-item__link {
  display: block;
  font-family: "Raleway";
  font-size: 18px;
  color: #fff;
  padding: 10px 5px;
  width: 230px;
  box-sizing: border-box;
  background-color: #333333;
  text-decoration: none;
  text-transform: uppercase;
}
.plan-link__inner {
  margin: auto;
}
.plan-item:hover .plan-item__price,
.plan-item:hover .plan-item__link {
  background-color: #ff0033;
  color: #fff;
}
.plan-item .plan-item__link:active {
  background-color: #ff6b88;
}

/* END plans block */

/* tweets block */
.tweets {
  background-image: url(../img/tweets/twitter.png);
  background-repeat: no-repeat;
  background-position: 28px bottom;
}
.tweets-block {
  display: flex;
  justify-content: center;
}
.tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tweet__icon {
  font-size: 50px;
  color: #fff;
}
.tweet__icon:hover {
  color: #ff0033;
}
.tweet__text {
  width: 100%;
  font-family: "Lato";
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.tweet-text__inner {
  margin-top: 25px;
}
/* media query tweets block */
@media (max-width: 1000px) {
  .tweets {
    background-image: none;
  }
}

/* END tweets block */

/* blog block */
.blog-content__inner {
  margin-top: 100px;
}
.blog-item {
  display: flex;
  flex-wrap: wrap;
  max-width: 970px;
}
.blog-item__inner {
  margin: 50px auto 0;
}
.blog-img-wrap {
  max-width: 370px;
}
.blog-item__img {
  width: 100%;
  height: 100%;
}
.blog-item__img:hover {
  opacity: 0.5;
}
.blog-item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 570px;
  width: 100%;
}
.blog-info__inner {
  margin-left: 30px;
}
.blog-item__title {
  font-family: "Raleway";
  font-size: 20px;
  color: #333333;
  font-weight: 500;
}
.meta-block {
  display: flex;
}
.meta-block__inner {
  margin: 15px 0;
}
.meta-item {
  display: flex;
  align-items: center;
  color: #999999;
}
.meta-item__inner {
  margin-right: 15px;
}
.meta-item__text {
  font-family: "Lato";
  font-size: 12px;
  color: #999999;
  padding-left: 5px;
}
.blog-item__text {
  width: 100%;
  font-family: "lato";
  font-size: 16px;
  color: #666666;
}
.blog-item__link {
  display: block;
  width: max-content;
  font-family: "Lato";
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px;
  background-color: #333333;
  text-decoration: none;
}
.blog-item__link:hover {
  background-color: #ff0033;
}
.blog-item__link:active {
  background-color: #ff6b88;
}
.load-more {
  display: block;
  width: 45px;
  height: 45px;
  background: url(../img/blog/arrow.png) no-repeat center #d4d4d4;
  border-radius: 50%;
  cursor: pointer;
}
.blog__link {
  margin: 40px auto 0;
}
.load-more:hover {
  background-color: #f1f1f1;
}
.load-more:active {
  background-color: #f790cd;
}
/* media query blog */
@media (max-width: 999px) {
  .blog-item {
    flex-direction: column;
    align-items: center;
  }
  .blog-info__inner {
    margin-left: 0;
  }
  .blog-item__info {
    max-width: 370px;
  }
  .blog-meta__inner {
    margin: 15px 0;
  }
  .blog-link__inner {
    margin-top: 15px;
  }
}
/* END blog */

/* social-media */
.social-media {
  background: url(../img/social-media/bg.png) no-repeat;
  background-size: cover;
}
.social-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social-media__link {
  margin-top: 50px;
}
.link-item__count {
  font-family: "Lato";
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.link-count__inner {
  margin-top: 30px;
}
.link__inner {
  margin: 50px 15px 0;
}
/* END social-media */

/* contact block */
.contact__title {
  padding-top: 90px;
}
.map {
  width: 100%;
  height: 575px;
}
.contact__map {
  margin-top: 100px;
}
.map-wrap {
  position: relative;
  width: 100%;
  margin-top: 90px;
}
.map {
  width: 100%;
  height: 580px;
}
.address {
  padding: 30px 20px;
  width: 300px;
  box-sizing: border-box;
  background-color: #333333;
  color: #fff;
  font-family: "Lato";
  font-size: 16px;
  line-height: 25px;
  position: relative;
}
.arrow {
  display: block;
  content: "";
  position: absolute;
  border: 16px solid transparent;
  right: 30px;
  bottom: -73px;
  border-top: 80px solid #333333;
  transform: rotate(35deg);
}
.close {
  top: 5%;
  position: absolute;
  right: 5%;
  cursor: pointer;
}
.form {
  background-color: #fff;
  max-width: 480px;
  width: 100%;
  box-sizing: border-box;
}
.contact__form {
  position: absolute;
  bottom: 0;
  right: 5%;
}
.form-container {
  padding: 40px 40px;
  box-shadow: 0 0 5px #ababab;
  box-sizing: border-box;
}
.form__title {
  font-family: "Raleway";
  font-size: 20px;
  color: #333333;
  font-weight: 500;
  text-transform: uppercase;
}
.form-element-wrap {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form__input,
.form__textarea {
  font-family: "Lato";
  font-size: 16px;
  color: #666666;
  border: 1px solid #d4d4d4;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
}
.form__textarea {
  height: 90px;
  resize: none;
}
.form__input:hover,
.form__textarea:hover {
  background-color: #f9f9f9;
}
.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-color: #01a1ff;
}
.form-elem__inner {
  margin-top: 15px;
}
.form__btn {
  color: #fff;
  padding: 15px 30px;
  border: none;
  background-color: #333333;
  text-transform: uppercase;
  cursor: pointer;
}
.form__btn:hover {
  background-color: #989898;
}
.form__btn:focus {
  outline: none;
}
.form__btn:active {
  background-color: #000;
}
/* media query contact block */
@media (max-width: 900px) {
  .contact__form {
    position: relative;
    right: 0;
    margin: 30px auto;
    padding: 0 10px;
  }
}
/* END contact block */

/* footer */
.footer {
  display: flex;
  align-items: center;
  padding: 30px 40px;
}
.page__footer {
  margin-top: auto;
}
.footer-logo {
  display: block;
  width: max-content;
}
.footer-logo__inner {
  margin: auto;
}
.footer__author {
  font-family: "Lato";
  font-size: 16px;
  color: #999999;
}
/*  media query footer */
@media (max-width: 450px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-logo__inner {
    margin-bottom: 10px;
  }
}
/* END footer */
